#clients-page {
    margin-top: 102px;
}

#clients-page .section-img-box {
    background-color: #FFF200;
}

#clients-page .section-title h2 {
    color: #9BB6C9;
}

#clients-page .section-title hr {
    border-top: 6px solid #9BB6C9;
}

#clients-page .section-title p {
    color: #9BB6C9;
}